extends layout 

block metas 
  title Home de mi sitio con Express.js
  meta(name="description", content="Sitio web de prueba para practicar con Node.js y Express.js")
  link(rel="stylesheet", href="/css/style.css")
block content
  main.container 
    h1 Home de mi sitio 
    nav 
      ul 
        li 
          a(href="/contacto") Contacto (.html) 